.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerPosts {
  display: flex;
  width: 50%;
}

.containerHeader {
  display: flex;
  width: 50%;
  margin-top: 20px;
}

.container .header {
  margin-top: 20px;
}
